html{
	scroll-behavior: smooth;
	background-color: black;
}

/** pro pic **/
.pic img {
	display: block;
	margin: auto;
	height: 200px;
	width: 200px;
	margin-top: 70px;
	align-items: center;
	border-radius: 50%;
	border:3px solid #6448c9; 
	
}

/** name **/

.Name {
	color: #6448c9;
	font-size: 23px;
	text-align: center;
	font-family: sans-serif;
}

/** work **/

.Work {
	color: #d3d3d3;
	text-align: center;
	font-size: 12px;
	font-family: sans-serif;
}

/* projects head */

.projects h1{
	color: #6448c9;
	text-align: center;
	font-size: 28px;
	font-family: sans-serif;
	padding-top: 10px;
}


/* projects list */

.projects{
	width:100%;
	text-align: center;
	font-size: 18px;
}
  
.procon{
	color:#6448c9;
}
  
.iconp{
	
	border-radius: 0%;
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 10px;
	position: relative;
	background: transparent;
	transition: all 0.2s ease;
	text-decoration: none;
	margin: 22px 8px;
}





/** Contact **/

.Contact h1{
	color: #6448c9;
	text-align: center;
	font-size: 28px;
	font-family: sans-serif;
	padding-top: 10px;
}

/** Contact icon **/


.Contact{
	width:100%;
	text-align: center;
	font-size: 18px;
}
  
.social{
	color:#d3c9c9;
}
  
.ico{
	border: 2px solid #6448c9;
	border-radius: 50%;
	display: inline-block;
	width: 20px;
	height: 20px;
	padding: 10px;
	position: relative;
	background: transparent;
	transition: all 0.2s ease;
	text-decoration: none;
	margin: 22px 8px;
}


/** footer **/
.footer a {
    display: block;
	text-align: center;
	color: #a1a1a1;
	font-size: 14px;
	font-family: sans-serif;
	padding-bottom: 10px;
	text-decoration: none;
}

/*create mobile viwe opt*/